pipeline/load_rental_data.json
{
	"name": "load_rental_data",
	"properties": {
		"activities": [
			{
				"name": "load_rental_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "property_code",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFolderPath": "current",
							"wildcardFileName": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "DELETE FROM dbo.rental_data WHERE property_code = '@{variables('property_code')}'",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"validateDataConsistency": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "stjgl926",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Property Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "property_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Tenant Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tenant_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Tenant",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tenant",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Market Rent",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "market_rent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Actual Rent",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "actual_rent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Total Rent",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "total_rent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Total Concessions",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "total_concessions",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Net Effective Rent",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "net_effective_rent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Total Lease Value",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "total_lease_value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "Tenant Status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tenant_status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Application Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "application_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Lease Sign Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lease_sign_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Lease From",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lease_from",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Lease To",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "lease_to",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Notice Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "notice_date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Move In",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "move_in",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Move Out",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "move_out",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Reason for Move Out",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "reason_for_move_out",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Application Approved",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "application_approved",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Application Canceled",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "application_canceled",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Application Denied",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "application_denied",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PipelineRunId",
									"type": "String"
								},
								"sink": {
									"name": "PipelineRunId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "customer1CSV",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "rental_data",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "clean_source",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "move_to_archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "customer1SourceBinary",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"wildcardFileName": {
							"value": "@pipeline().parameters.filename",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "move_to_archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "load_rental_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "customer1/current/"
					},
					{
						"name": "Destination",
						"value": "customer1/history/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFolderPath": "current",
							"wildcardFileName": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "customer1SourceBinary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "customer1DestBinary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "property_code",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "property_code",
					"value": {
						"value": "@split(pipeline().parameters.filename, '-')[0]",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string",
				"defaultValue": "r0500min-customer1-07062025151308.csv"
			}
		},
		"variables": {
			"property_code": {
				"type": "String"
			}
		},
		"folder": {
			"name": "doboshco"
		},
		"annotations": []
	}
}